.ipynb_checkpoints*
*.jpg
*.mp4
*.png
*.pdf
*.egg-info
*.bat
*.sh
*.hdf5
.asv*
Makefile
__pycache__/*
**/__pycache__/*
*.DS_Store
.vscode/*
*.svg
*.pkl
build/
dist/
*.egg-info/
.pytest_cache/
.venv/
venv/